@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: "Roboto", serif;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

.orange{
  color:#cf5600;
}

button{
  padding: 12px 24px;
  border-radius: 16px;
  border: #cf5600 3px solid;
  background: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
button:hover{
  transition: all 300ms ease-out;
  background: #cf5600;
}

